
#home a{
color:rgb(0, 0, 0);
text-decoration: none;
font-family:impact,fantasy;
font-size: 30px;
padding-right: 10px;
padding-top:20px;
}
h1{
	font-family:impact,fantasy;
text-align: left;
font-size: 50px;
margin-bottom: 10px;
}
h5{
	color: white;
	font-size: xx-large;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
#home{
	width: 100%;
	height: 80x;
	background-color: rgb(164, 0, 0);
}
#home a:hover{
	color:#fdfdfd;
}
body{
	margin: 0;
	padding: 0;
	background-color: black;
}

#text {
	color: #ffffff;
	font-size: xx-large;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;


}

button{
	background-color: rgb(164, 0, 0);
	color: white;
    font-size: 70px;

}

img {
	    display: block;
	width: 500px;
	height: 550px;
	margin: auto;

}
table{
			width: 50%;
			height: 50%;
			text-align: center;
			border-collapse: collapse;
			font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
			color:black;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		th{
			background-color: #ff0000;
			height: 35px;
			border: solid rgb(0, 0, 0);
		}
		td{
			background-color: #ff0000;
			height: 30px;
			border: solid rgb(0, 0, 0);
		
		}