#home a{
color:rgb(0, 0, 0);
text-decoration: none;
font-family:impact,fantasy;
font-size: 30px;
padding-right: 10px;
}
h1{
	font-family:impact,fantasy;
text-align: left;
font-size: 50px;

}
#home{
	width: 100%;
	height: 80x;
	background-color: rgb(164, 0, 0);
}
#home a:hover{
	color:#fdfdfd;
}
body{
	margin: 0;
	padding: 0;
}